@import '~styles/color';
@import '~styles/media';

.not-found {
  height: calc(100vh - 6rem - 4px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: $oc-orange-5;
  font-size: 1.8rem;
  @include media('<phone') {
    font-size: 1.4rem;
  }
  .icon {
    margin-right: 0.5rem;
  }
}
